
body {
font-family: Roboto, Raleway, sans-serif;
color: #434455;
}
.page-header {
background-color:#fff;
}
.header-logo{
text-transform: uppercase;
color: #4d5ae5;
font-weight: 700;
font-size: 18px;
}
.header-logo-cursive{
text-transform: uppercase;
color: #2e2f42;
font-weight: 700;
font-size: 18px;
}
.menu-nav-list {
list-style: none;
text-decoration: none;
text-decoration-line: none;
font-weight: 500;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;}

.menu-nav a {
text-decoration: none;
}
.page-contacts-list a {
text-decoration: none;
}

.page-header-contacts-item {
font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
list-style: none;
text-decoration: none;
text-decoration-line: none;

}
.features-h3 {
font-weight: 500;
font-size: 20px;
color: #2e2f42;}
.main-section {
background: #2e2f42;
}
.main-section-title {
font-weight: 700;
font-size: 56px;
color: #fff;
line-height: 60px; 
line-height: 1.07143;
letter-spacing: 0.02em;
}
.button-container {
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 700;
font-size: 56px;}
.page-header-contacts {
font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}
.features-h3 {
font-weight: 500;
font-size: 20px;
line-height: 24px; 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}
.features-paragraph {
font-weight: 400;
font-size: 16px;
line-height: 24px; 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.h2-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px; 
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;}

    .section-team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .section-team-paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}

    .portfolio-h3-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px; 
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42}

    .portfolio-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}
   
    .footer-logo{
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    line-height: 1.16667;
    letter-spacing: 0.03em;
    }
    
    .footer-logo-cursive{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px; 
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;}
    .footer-parag {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    }
    .page-footer a {
    text-decoration: none;
    }
    .page-footer 
    {background-color:#2e2f42; }